.products {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
}

.ProductsLoading {
    text-align: center;
    color: white;
}

.ProductsError {
    text-align: center;
    color: red;
}

.products ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.products button {
    font: inherit;
    cursor: pointer;
    background-color: #e78067;
    border: 1px solid #e78067;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 5%;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    padding: 1rem 0px;
    align-content: center;
}

.products button:hover,
.products button:active {
    background-color: #df4e45;
    border-color: #df4e45;
}

@keyframes products-appear {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
